services:
  # Timescale (PostgreSQL) databáze
  db:
    image: timescale/timescaledb:latest-pg15
    container_name: vibro_db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=vibro_diag
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      
  # Správa databáze pgadmin
  pgadmin:
    image: dpage/pgadmin4
    container_name: vibro_pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin_data: